In [2]:
import numpy as np
import pandas as pd
import datetime

sales_data = pd.read_excel("Sample sales data2.xlsx")

#Read Data

In [3]:
sales_data.index = pd.to_datetime(sales_data['InvoiceDate'],format='%Y-%m-%d %H:%M:%S')

time_partitions = list()

for i in range(1,sales_data.count()['InvoiceDate']):
    time_partitions.append(datetime.datetime.strptime(str(sales_data['InvoiceDate'][i]), '%Y-%m-%d %H:%M:%S'))

# function to get unique values
#def unique(list1):
#    x = np.array(list1)
#    return np.unique(x)
#unique_time_partitions = unique(time_partitions)
#for i in range(len(unique_time_partitions)):
#    months_in_dataset.append(unique_time_partitions.month)

unique_partitions_list = list()
for time_partition in time_partitions:
    if time_partition not in unique_partitions_list:
        unique_partitions_list.append(time_partition)

months_in_dataset_list = list()
for i in unique_partitions_list:
    if i.month not in months_in_dataset_list:
        months_in_dataset_list.append(i.month)

months_in_dataset_list

[8, 7]

In [4]:
sales1 = sales_data.groupby(pd.Grouper(freq='M')) #Group By Month

In [5]:
sales1.count()

,DimEquipmentClassID,DimProfitCenterID,DimCustomerID,DimRateTypeID,RateType,DimRevenueTypeID,RevenueType,ContractNumber,SequenceNumber,PCID,...,MeterReadingOut,MeterReadingIn,ExcessMileageCharge,NumberCreditDays,NumberCreditHours,CreditReasonCode,RateSourceMonth,RateSourceWeek,RateSourceDay,SystemOS
InvoiceDate,,,,,,,,,,,,,,,,,,,,,
2019-07-31,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,0
2019-08-31,412,412,412,412,412,412,412,412,412,412,...,411,411,411,411,411,411,411,411,411,9

In [7]:
groups = dict(list(sales1)) #Unwrapping the group into a dictionary

In [8]:
months = list()
for i,k in groups.items():
    months.append(k)

In [9]:
for i in range(len(months)):
    print(months[i])

             DimEquipmentClassID  DimProfitCenterID  DimCustomerID  \
InvoiceDate
2019-07-31                    -1                544        3528485
2019-07-31                    -1                525          76276
2019-07-31                    -1               1086          90471
2019-07-31                    -1                369         272373

             DimRateTypeID    RateType  DimRevenueTypeID  \
InvoiceDate
2019-07-31              -1  UNKNOWN                    7
2019-07-31              -1  UNKNOWN                    6
2019-07-31              -1  UNKNOWN                    6
2019-07-31              -1  UNKNOWN                    6

                         RevenueType  ContractNumber  SequenceNumber  PCID  \
InvoiceDate
2019-07-31   Equipment / Accessories        92126893               1   346
2019-07-31            Transportation        91873417               1   327
2019-07-31            Transportation        91799836               1   720
2019-07-31            Transportation        92142667               1    38

             ...  MeterReadingOut  MeterReadingIn  ExcessMileageCharge  \
InvoiceDate  ...
2019-07-31   ...              0.0             0.0                  0.0
2019-07-31   ...              0.0             0.0                  0.0
2019-07-31   ...              0.0             0.0                  0.0
2019-07-31   ...              0.0             0.0                  0.0

             NumberCreditDays  NumberCreditHours  CreditReasonCode  \
InvoiceDate
2019-07-31                0.0                0.0
2019-07-31                0.0                0.0
2019-07-31                0.0                0.0
2019-07-31                0.0                0.0

             RateSourceMonth  RateSourceWeek  RateSourceDay  SystemOS
InvoiceDate
2019-07-31                                               OR       NaN
2019-07-31                OR              OR             OR       NaN
2019-07-31                OR              OR             OR       NaN
2019-07-31                                                        NaN

[4 rows x 48 columns]
             DimEquipmentClassID  DimProfitCenterID  DimCustomerID  \
InvoiceDate
2019-08-01                  7255                474        6204104
2019-08-01                  7256                474        6204104
2019-08-01                 12078                665        5963081
2019-08-01                 14052                524        5813416
2019-08-01                 17676                995         123842
...                          ...                ...            ...
2019-08-02                    -1                351          60111
2019-08-02                 15999                465          52447
2019-08-02                    -1                662        6236883
2019-08-02                    -1               1046         154474
2019-08-02                  7353               1014        6612058

             DimRateTypeID    RateType  DimRevenueTypeID  \
InvoiceDate
2019-08-01               1  DAILY                     11
2019-08-01               1  DAILY                     11
2019-08-01               3  MONTHLY                   11
2019-08-01               3  MONTHLY                   11
2019-08-01               3  MONTHLY                   11
...                    ...         ...               ...
2019-08-02              -1  UNKNOWN                   16
2019-08-02               3  MONTHLY                    2
2019-08-02              -1  UNKNOWN                    6
2019-08-02              -1  UNKNOWN                    6
2019-08-02               3  MONTHLY                   11

                        RevenueType  ContractNumber  SequenceNumber  PCID  \
InvoiceDate
2019-08-01   Rental Protection Plan        92270219               2   162
2019-08-01   Rental Protection Plan        92270219               2   162
2019-08-01   Rental Protection Plan        90003587               4   204
2019-08-01   Rental Protection Plan        90113551               5   326
2019-08-01   Rental Protection Plan        90786663               2   184
...                             ...             ...             ...   ...
2019-08-02                     Fuel        92286329               1    20
2019-08-02                  Rentals        91833846               1   153
2019-08-02           Transportation        91819915               1   201
2019-08-02           Transportation        91824365               1   575
2019-08-02   Rental Protection Plan        91376850               2   121

             ...  MeterReadingOut  MeterReadingIn  ExcessMileageCharge  \
InvoiceDate  ...
2019-08-01   ...              0.0             0.0                  0.0
2019-08-01   ...              0.0             0.0                  0.0
2019-08-01   ...            313.0             0.0                  0.0
2019-08-01   ...           2453.5          2828.8                  0.0
2019-08-01   ...              0.0             0.0                  0.0
...          ...              ...             ...                  ...
2019-08-02   ...              0.0             0.0                  0.0
2019-08-02   ...           3000.9             0.0                  0.0
2019-08-02   ...              0.0             0.0                  0.0
2019-08-02   ...              0.0             0.0                  0.0
2019-08-02   ...              0.0             0.0                  0.0

             NumberCreditDays  NumberCreditHours  CreditReasonCode  \
InvoiceDate
2019-08-01                0.0                0.0
2019-08-01                0.0                0.0
2019-08-01                0.0                0.0
2019-08-01                0.0                0.0
2019-08-01                0.0                0.0
...                       ...                ...               ...
2019-08-02                0.0                0.0
2019-08-02                0.0                0.0
2019-08-02                0.0                0.0
2019-08-02                0.0                0.0
2019-08-02                0.0                0.0

             RateSourceMonth  RateSourceWeek  RateSourceDay  SystemOS
InvoiceDate
2019-08-01                                                        NaN
2019-08-01                                                        NaN
2019-08-01                OR              OR             OR       NaN
2019-08-01                OR              OR             OR       NaN
2019-08-01                OR              OR             OR       NaN
...                      ...             ...            ...       ...
2019-08-02                                                        NaN
2019-08-02                OR              OR             OR       NaN
2019-08-02                OR              OR             OR       NaN
2019-08-02                OR              OR             OR       NaN
2019-08-02                                                        NaN

[412 rows x 48 columns]

In [10]:
for k in range(len(months)):
    exec(f'month_{k} = pd.DataFrame(months[{k}])')

In [11]:
## Objective is to assign dataframes to month variables automatically

In [12]:
#Grouping by CustomerIDs
# ALL MONTHS
g = sales_data.groupby('DimCustomerID')

In [13]:
#Creating a list of tuples which ties the Customer (via CustomerID) to their transactions (by way of DimEquipClassID)
# ALL MONTHS
customer_list = []
for customer,customerdf in g:
    customer_list.append(customer)

In [14]:
for k in range(len(months)):
    exec(f'list_of_lists_of_equipids_based_on_customer_month_{k} = list()')


for customer in customer_list:
    for k in range(len(months)):
        exec(f"for j in range(len(month_{k}.loc[month_{k}['DimCustomerID'] == customer]['DimEquipmentClassID'])):\
            list_of_lists_of_equipids_based_on_customer_month_{k}.append(month_{k}.loc[month_{k}['DimCustomerID'] == customer]['DimEquipmentClassID'].tolist())")

In [15]:
## NOTE - STACK THE LISTS OF LISTS OF THE DIFFERENT MONTHS TO BE ABLE TO RUN APRIORI ON THE ENTIRE DATASET

combined_lists = list()
count = len(months) - 1
for k in range(count,-1,-1):
    exec(f"combined_lists.extend(list_of_lists_of_equipids_based_on_customer_month_{k})")
    
len(combined_lists)

416

In [16]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(combined_lists).transform(combined_lists)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,-1,5029,5064,5100,5184,5239,5242,5246,5247,5248,...,18811,18826,19276,19321,19325,20694,21371,21390,22903,23501
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
412,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
413,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
414,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
415,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.001)

      support                   itemsets
0    0.516827                        (0)
1    0.004808                        (1)
2    0.007212                        (2)
3    0.002404                        (3)
4    0.019231                        (4)
..        ...                        ...
289  0.012019       (112, 113, 114, 118)
290  0.012019       (112, 113, 117, 118)
291  0.012019       (112, 114, 117, 118)
292  0.012019       (113, 114, 117, 118)
293  0.012019  (112, 113, 114, 117, 118)

[294 rows x 2 columns]

In [18]:
frequent_itemsets = apriori(df, min_support=0.001, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

      support                        itemsets  length
0    0.516827                            (-1)       1
1    0.004808                          (5029)       1
2    0.007212                          (5064)       1
3    0.002404                          (5100)       1
4    0.019231                          (5184)       1
..        ...                             ...     ...
289  0.012019        (9003, 8915, 9732, 8951)       4
290  0.012019        (8915, 9732, 9574, 8951)       4
291  0.012019        (9003, 8915, 9732, 9574)       4
292  0.012019        (9003, 9732, 9574, 8951)       4
293  0.012019  (9732, 9574, 9003, 8915, 8951)       5

[294 rows x 3 columns]

In [19]:
frequent_itemsets[ (frequent_itemsets['length'] >= 1) &
                   (frequent_itemsets['support'] >= 0.01) ]

      support                        itemsets  length
0    0.516827                            (-1)       1
4    0.019231                          (5184)       1
6    0.024038                          (5242)       1
7    0.045673                          (5246)       1
11   0.014423                          (5283)       1
41   0.014423                          (6149)       1
64   0.014423                          (6405)       1
69   0.012019                          (6461)       1
82   0.012019                          (7220)       1
86   0.019231                          (7255)       1
87   0.021635                          (7256)       1
95   0.012019                          (7443)       1
102  0.014423                          (7725)       1
112  0.012019                          (8915)       1
113  0.012019                          (8951)       1
114  0.012019                          (9003)       1
117  0.012019                          (9574)       1
118  0.012019                          (9732)       1
122  0.014423                         (12078)       1
134  0.012019                         (14052)       1
139  0.012019                         (14429)       1
163  0.028846                      (5246, -1)       2
176  0.012019                      (6461, -1)       2
232  0.019231                    (7256, 7255)       2
241  0.012019                    (8915, 8951)       2
242  0.012019                    (9003, 8915)       2
243  0.012019                    (8915, 9574)       2
244  0.012019                    (8915, 9732)       2
245  0.012019                    (9003, 8951)       2
246  0.012019                    (9574, 8951)       2
247  0.012019                    (9732, 8951)       2
248  0.012019                    (9003, 9574)       2
249  0.012019                    (9003, 9732)       2
251  0.012019                    (9732, 9574)       2
275  0.012019              (9003, 8915, 8951)       3
276  0.012019              (8915, 9574, 8951)       3
277  0.012019              (8915, 9732, 8951)       3
278  0.012019              (9003, 8915, 9574)       3
279  0.012019              (9003, 8915, 9732)       3
280  0.012019              (8915, 9732, 9574)       3
281  0.012019              (9003, 9574, 8951)       3
282  0.012019              (9003, 9732, 8951)       3
283  0.012019              (9732, 9574, 8951)       3
284  0.012019              (9003, 9732, 9574)       3
288  0.012019        (9003, 8915, 9574, 8951)       4
289  0.012019        (9003, 8915, 9732, 8951)       4
290  0.012019        (8915, 9732, 9574, 8951)       4
291  0.012019        (9003, 8915, 9732, 9574)       4
292  0.012019        (9003, 9732, 9574, 8951)       4
293  0.012019  (9732, 9574, 9003, 8915, 8951)       5

In [20]:
import mlxtend.preprocessing
import mlxtend.frequent_patterns

#Conf

rules1=mlxtend.frequent_patterns.association_rules(
frequent_itemsets, metric="confidence",min_threshold=0.07,support_only=False)

rules1.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5184),(-1),0.019231,0.516827,0.007212,0.375000,0.725581,-0.002727,0.773077
1,(5239),(-1),0.009615,0.516827,0.004808,0.500000,0.967442,-0.000162,0.966346
2,(5246),(-1),0.045673,0.516827,0.028846,0.631579,1.222032,0.005241,1.311470
3,(5284),(-1),0.009615,0.516827,0.007212,0.750000,1.451163,0.002242,1.932692
4,(5500),(-1),0.009615,0.516827,0.009615,1.000000,1.934884,0.004646,inf
5,(5504),(-1),0.007212,0.516827,0.007212,1.000000,1.934884,0.003484,inf
6,(5580),(-1),0.009615,0.516827,0.007212,0.750000,1.451163,0.002242,1.932692
7,(6139),(-1),0.009615,0.516827,0.007212,0.750000,1.451163,0.002242,1.932692
8,(6149),(-1),0.014423,0.516827,0.007212,0.500000,0.967442,-0.000243,0.966346
9,(6335),(-1),0.007212,0.516827,0.007212,1.000000,1.934884,0.003484,inf
10,(6361),(-1),0.007212,0.516827,0.004808,0.666667,1.289922,0.001081,1.449519
11,(6362),(-1),0.007212,0.516827,0.004808,0.666667,1.289922,0.001081,1.449519
12,(6405),(-1),0.014423,0.516827,0.007212,0.500000,0.967442,-0.000243,0.966346
13,(6408),(-1),0.007212,0.516827,0.007212,1.000000,1.934884,0.003484,inf
14,(6445),(-1),0.004808,0.516827,0.004808,1.000000,1.934884,0.002323,inf
15,(6461),(-1),0.012019,0.516827,0.012019,1.000000,1.934884,0.005807,inf
16,(6543),(-1),0.004808,0.516827,0.004808,1.000000,1.934884,0.002323,inf
17,(6661),(-1),0.004808,0.516827,0.004808,1.000000,1.934884,0.002323,inf
18,(7001),(-1),0.004808,0.516827,0.004808,1.000000,1.934884,0.002323,inf
19,(7224),(-1),0.007212,0.516827,0.007212,1.000000,1.934884,0.003484,inf

In [21]:
#Lift

rules2=mlxtend.frequent_patterns.association_rules(
frequent_itemsets, metric="lift",min_threshold=0.07,support_only=False)

rules2.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5184),(-1),0.019231,0.516827,0.007212,0.375000,0.725581,-0.002727,0.773077
1,(-1),(5184),0.516827,0.019231,0.007212,0.013953,0.725581,-0.002727,0.994648
2,(-1),(5239),0.516827,0.009615,0.004808,0.009302,0.967442,-0.000162,0.999684
3,(5239),(-1),0.009615,0.516827,0.004808,0.500000,0.967442,-0.000162,0.966346
4,(5246),(-1),0.045673,0.516827,0.028846,0.631579,1.222032,0.005241,1.311470
5,(-1),(5246),0.516827,0.045673,0.028846,0.055814,1.222032,0.005241,1.010740
6,(5284),(-1),0.009615,0.516827,0.007212,0.750000,1.451163,0.002242,1.932692
7,(-1),(5284),0.516827,0.009615,0.007212,0.013953,1.451163,0.002242,1.004399
8,(5500),(-1),0.009615,0.516827,0.009615,1.000000,1.934884,0.004646,inf
9,(-1),(5500),0.516827,0.009615,0.009615,0.018605,1.934884,0.004646,1.009160
10,(5504),(-1),0.007212,0.516827,0.007212,1.000000,1.934884,0.003484,inf
11,(-1),(5504),0.516827,0.007212,0.007212,0.013953,1.934884,0.003484,1.006837
12,(5580),(-1),0.009615,0.516827,0.007212,0.750000,1.451163,0.002242,1.932692
13,(-1),(5580),0.516827,0.009615,0.007212,0.013953,1.451163,0.002242,1.004399
14,(6139),(-1),0.009615,0.516827,0.007212,0.750000,1.451163,0.002242,1.932692
15,(-1),(6139),0.516827,0.009615,0.007212,0.013953,1.451163,0.002242,1.004399
16,(6149),(-1),0.014423,0.516827,0.007212,0.500000,0.967442,-0.000243,0.966346
17,(-1),(6149),0.516827,0.014423,0.007212,0.013953,0.967442,-0.000243,0.999524
18,(-1),(6335),0.516827,0.007212,0.007212,0.013953,1.934884,0.003484,1.006837
19,(6335),(-1),0.007212,0.516827,0.007212,1.000000,1.934884,0.003484,inf